.each-track {
  width: 1000px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.image-name-and-genre-container {
  display: flex;
  align-items: center;
}

.name-and-genre-container {
  font-size: 20px;
}

.track-image {
  width: 30%;
  margin-right: 15px;
}

.duration-and-delete-btn-container {
  display: flex;
  align-items: center;
}

.delete-btn {
  background-color: transparent;
  border: none;
  color: #ffffff;
  margin-left: 20px;
  margin-right: 30px;
  cursor:pointer;
  outline:none;
}

.name {
  color: #ffffff;
}

.genre {
  color: #3b82f6;
}

.duration {
  color: #ffffff;
  font-size: 20px;
}
